%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step
      %span.step-number 1
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step.active
      %span.step-number 4
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs Complete
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle Shipping Address
      %p.general-address
        #{@shipping.first_name} #{@shipping.last_name}
        %a.span.general-edit{href: checkout_address_path} edit
        %br
        = @shipping.address
        %br
        #{@shipping.city} #{@shipping.zip}
        %br
        = @shipping.country
        %br
        Phone #{@shipping.phone}
    .col-sm-3
      %h3.general-subtitle Billing Address
      %p.general-address
        #{@billing.first_name} #{@billing.last_name}
        %a.span.general-edit{href: checkout_address_path} edit
        %br
        = @billing.address
        %br
        #{@billing.city} #{@billing.zip}
        %br
        = @billing.country
        %br
        Phone #{@billing.phone}
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        = @delivery[cookies[:delivery].to_sym].second
        %a.span.general-edit{href: checkout_delivery_path} edit
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        ** ** ** #{cookies[:card_number][-4..-1]}
        %a.span.general-edit{href: checkout_payment_path} edit
        %br
        #{cookies[:card_date][0..2]}20#{cookies[:card_date][-2..-1]}
  .visible-xs
    = render "cart_xs"
  .hidden-xs.divider-lg.pt-20
    = render "cart"
  .text-center.general-text-right
    = render "order"
  .text-center
    %a.button.btn.btn-default.mb-20{href: checkout_complete_path(number_order: Time.now.strftime("%m%d%H%M"))} Place Order
