= form_with model: book do |form|
  .field.form-group.mb-30
    = form.label :title, "Enter Title"
    = form.text_field :title, autocomplete: "title", class: "form-control"
    = form.label :author_id, "Select Author"
    %br/
    = form.select :author_id, @author.sort, class: "form-control", autocomplete: "author_id"
    %br/
    = form.label :year, "Enter Year"
    = form.number_field :year, autocomplete: "year", class: "datepicker form-control", step: 1
    = form.label :description, "Enter Description"
    = form.text_area :description, autocomplete: "title", class: "form-control"
    = form.label :price, "Enter Price in cent"
    = form.number_field :price, autocomplete: "price", class: "datepicker form-control", step: 0.01
    = form.label :count, "Enter Count"
    = form.number_field :count, autocomplete: "count", class: "datepicker form-control", step: 1
    = form.label :category_id, "Select Category"
    %br/
    = form.select :category_id, @category.sort, class: "form-control", autocomplete: "category_id"
    %br/
    = form.label :height, "Enter Height"
    = form.number_field :height, autocomplete: "price", class: "datepicker form-control", step: 0.01
    = form.label :weight, "Enter Weight"
    = form.number_field :weight, autocomplete: "price", class: "datepicker form-control", step: 0.01
    = form.label :depth, "Enter Depth"
    = form.number_field :depth, autocomplete: "price", class: "datepicker form-control", step: 0.01
    = form.label :materials, "Enter Materials Of Book"
    = form.text_field :materials, autocomplete: "materials", class: "form-control"
    = form.submit