%h1.general-title-margin Catalog
.hidden-xs.clearfix
  .dropdowns.pull-right
    .dropdown.width-240
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "true"}
        = params[:sort]
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        = render "sort"
  %ul.list-inline.pt-10.mb-25.mr-240
    %li.mr-35
      %a.filter-link{href: category_books_path("All", sort: params[:sort])}
        All
        %span.badge.general-badge #{Book.count}
    - Category.all.sort_by { |category| category.title }.each do |category|
      %li.mr-35
        %a.filter-link{href: category_books_path(category.title, sort: params[:sort])}
          = category.title
          %span.badge.general-badge #{Book.where(category: category).size}
.dropdowns.mb-25.visible-xs
  %p.lead.small.mb-10 Filter by category
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = params[:category_title]
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        %a{href: category_books_path("All")} All
      - Category.all.sort_by { |category| category.title }.each do |category|
        %li
          %a{href: category_books_path(category.title)} #{category.title}
  %p.lead.small.mb-10 Sort by
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = params[:sort]
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      = render "sort"
.mb-120
  .row
    - @books.each do |book|
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "#{book.cover}"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "/books/#{book.id}"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: carts_path(book_id: book.id, count: 1), "data-turbo-method": :post}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.title #{book.title}
          %p.font-16.in-gold-500 #{number_to_currency(book.price, :unit => "€")}
          %span.divider-sm
          %p.lead.small #{book.author.last_name} #{book.author.first_name}
  .text-center
    = will_paginate @books, id: "with_button"
    - if @books.next_page
      = button_to "View More", {action: "index", new_req: true }, method: :get, remote: true, class: "btn btn-primary mb-20", id: "load_more_books"
