%main.container.general-main-wrap
  %h1.general-title-margin Cart
  .visible-xs
    .general-cart-item.divider-lg-bottom.mb-30
      - @counted_book.each do |book, count|
        %a.close.general-cart-close{type: "button", 'aria-label': "Close", href: carts_path(book_id: book.id), "data-turbo-method": :delete}
          %span{'aria-hidden': "true"} &times;
        .general-img-wrap-table
          %img.cart-img-shadow{src: book.cover}
        %p.title= book.title
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500= number_to_currency(book.price, :unit => "€")
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              .input-group
                %a.input-link{href: carts_path(book_id: book.id, count: 1), "data-turbo-method": :delete}
                  %i.fa.fa-minus.line-height-40
                %input.form-control.quantity-input{type: "number", value: count}
                %a.input-link{href: carts_path(book_id: book.id, count: 1), "data-turbo-method": :post}
                  %i.fa.fa-plus.line-height-40-40
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500= number_to_currency((book.price * count), :unit => "€")
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600 Product
        %th.col-title
        %th.col-price
          %span.in-grey-600 Price
        %th.col-quantity
          %span.in-grey-600 Quantity
        %th.col-total
          %span.in-grey-600 SubTotal
        %th.col-close
      - @counted_book.each do |book, count|
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: book.cover}
          %td
            %p.title= book.title
          %td
            %span.font-16.in-gold-500= number_to_currency(book.price, :unit => "€")
          %td
            .input-group
              %a.input-link{href: carts_path(book_id: book.id, count: 1), "data-turbo-method": :delete}
                %i.fa.fa-minus.line-height-40
              %input.form-control.quantity-input{type: "number", value: count}
              %a.input-link{href: carts_path(book_id: book.id, count: 1), "data-turbo-method": :post}
                %i.fa.fa-plus.line-height-40-40
          %td
            %span.font-16.in-gold-500= number_to_currency((book.price * count), :unit => "€")
          %td
            %a.close.general-cart-close{type: "button", 'aria-label': "Close", href: carts_path(book_id: book.id), "data-turbo-method": :delete}
              %span{'aria-hidden': "true"} &times;
  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group
          %label.input-label Enter Your Coupon Code
          %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
          %div
            %button.btn.btn-primary.mr-5.mb-15 Apply Coupon
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18 Order Summary
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16 Subtotal:
              %td
                %p.font-16= number_to_currency(@subtotal, :unit => "€")
            %tr
              %td
                %p.font-16 Coupon:
              %td
                %p.font-16 €0.00
            %tr
              %td
                %strong.font-18 Order Total:
              %td
                %strong.font-18= number_to_currency(@order_total, :unit => "€")
          %a.btn.btn-default.mb-20.visible-xs-inline-block{type: "button", href: checkout_address_path} Checkout
  .row
    .col-sm-2.col-sm-offset-5
      %a.btn.btn-default.mb-20.hidden-xs.center-block{type: "button", href: checkout_address_path} Checkout
