<div class="text-center">
  <h3 class="general-login-title">Log In</h3>
  <a href="#" class="general-login-icon">
    <i class="fa fa-facebook-official"></i></a>
  <p class="general-login-text">or</p>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "general-form"}) do |f| %>
  <div class="field form-group mb-30">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field form-group mb-30">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group checkbox text-center mb-30">
      <label class="checkbox-label">
        <input name="user[remember_me]" type="hidden" value="0" autocomplete="off">
        <input type="checkbox" value="1" hidden="true" name="user[remember_me]" id="user_remember_me" class="checkbox-input"/>
        <span class="checkbox-icon">
      <i class="fa fa-check"></i></span>
        <span class="checkbox-text">Remember me</span></label></div>
  <% end %>

  <div class="actions text-center">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>